body {
	background-color: black;
}

.container {
	min-height: 100vh;
	background-color: var(--chakra-colors-yellow-400);
}

.container * {
	position: relative;
}

.curve-background {
	--border-radius: 50% 40%;

	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	height: 100%;
	width: 100%;
}

/* Header */
header {
	text-align: center;
}

.header-logo {
	width: 200px;
	object-fit: contain;
}

/* Nav */
nav {
	text-align: center;
	color: #495e57;
}

nav a {
	display: inline-block;
	padding: 12px;
}

.nav-item {
	font-weight: bold;
	font-size: 20px;
	text-transform: capitalize;
}

/* Footer */
.footer {
	width: 50%;
	text-align: center;
	font-size: 14px;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.footer hr {
	border: none;
	height: 2px;
	color: #333;
	background-color: #333;
}

/* Animation */
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
